<template name="addfeed">
    <div class="page add-feed">
        <div class="btns-group-vertical">
            <p class="subtitle-auth">Add Feed</p>
            <a class="js-facebook btn-secondary" style="margin-top: 10px;background-color: #5db9ff;">Facebook</a>
            <a class="js-twitter btn-secondary" style="margin-top: 10px;background-color: #5db9ff;">Twitter</a>
            <a class="js-instagram btn-secondary" style="margin-top: 10px;background-color: #5db9ff;">Instagram</a>
            <a class="js-tumblr btn-secondary" style="margin-top: 10px;background-color: #5db9ff;">Tumblr</a>
            <a class="js-reddit btn-secondary" style="margin-top: 10px;background-color: #5db9ff;">Reddit</a>
        </div>
    </div>
</template>