<template name="settingsPage">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=193558711009958";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="page auth">
    <div class="content-scrollable">
        <div class="wrapper-auth">
            <h1 class="title-auth">Settings Page</h1>
            <p class="subtitle-auth" >This is the settings page where you configure all your social media settings</p>

            <form>
                {{#if errorMessages}}
                    <div class="list-errors">
                        {{#each errorMessages}}
                            <div class="list-item">{{this}}</div>
                        {{/each}}
                    </div>
                {{/if}}

                <div class="input-symbol">
                    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
                </div>
                <br>
                <div class="input-symbol">
                    <input type="text" name="twitter" placeholder="Twitter" />
                    <span class="icon-lock" title="Password"></span>
                </div>

                <div class="input-symbol">
                    <input type="text" name="instagram" placeholder="Instagram" />
                    <span class="icon-lock" title="Confirm Password"></span>
                </div>

                <button type="submit" class="btn-primary">Update</button>
            </form>
        </div>
    </div>
    </div>
</template>